body{
    font-family: Arial, Helvetica, sans-serif;
}
input[type='text']{
    border:1px black solid;
}
.clear{
    clear:both;
}
#loading_overlay{

	top: 0;

	left: 0;

	position: fixed;

	width: 100%;

	height: 100%;

	background: url('../images/ajax-loader.gif') center center no-repeat;

	display:none;

}
#btn_top {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#logout{
    float:right;
}

#btn_logout{
    font-size: 20px;
    line-height: 20px;
    display: block;
    margin: 10px;
    color: #009edb;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #009edb;
    text-align: center;
    text-decoration:none;
}

#btnLogin{
    text-align:center; 
    width:90vw; 
    padding:20px; 
    margin:50px auto; 
    font-size:20px;
    border-radius:10px;
    text-decoration: none;
    border: 1px solid #009edb;
    display:block;
    font-weight: bold;
    color:#009edb;
    background-color: #fff;
}

#menuInvItem{
    width:100%;
    padding:0;
    margin:0;
    clear:both;
}
.btn_menuInvItem{
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    margin: 2%;
    padding: 2%;
    width:40%;
    border-radius: 10px;
    border: 1px solid #009edb;
    text-align: center;
    text-decoration:none;

    color: #009edb;
    background-color: #fff;
}
.btn_menuInvItem_selected{
    background-color: #009edb !important;
    color: #fff !important;
}

.btnLocation, #btnShowLocationButtons{
    border-radius:10px;
    text-decoration: none;
    border: 1px solid #009edb;
    padding: 15px;
    margin:10px;
    display:block;
    font-size:20px;
    text-align:center;
    color: #009edb;
}

/* Google Translate Button */
.goog-te-gadget .goog-te-combo{
    padding:20px;
}

.inv_record{
    display:flex;
    align-items:center;
    padding:10px;
    margin:10px;
    border:1px solid black;
    font-size:min(2vmin,16px);
}

.inv_name{
    display: block;
    padding:10px;
    font-size:20px;
    width:90%;
    
}
.inv_image_container{
    width:20%;
}
.inv_image{
    height: 100px;
    padding-right:10px;
}
.inv_barcode{
    display:none;
}
.inv_button{
    border-radius:10px;
    text-decoration: none;
    border: 1px solid #009edb;
    padding: 20px;
    margin:10px;
    display:block;
    font-size:30px;
    text-align:center;
}
.consumeQuant, .inv_quantity, .changeQuant, .changeDescription, .changeItemAltDescription, .input_text{
    font-size:20px; 
    padding:10px; 
    display:block;
    margin:20px auto; 
}
.lbl_consumeJob{
    font-size:20px; 
    padding:10px; 
}
.consumeJob{
    display:none;
    margin: 20px auto;
    padding:20px;
}
.moveItemLocation, .input_select{
    margin: 20px auto;
    padding:20px;
}
.admin_drawer{
    display:none;
    margin:20px auto;
    padding-top: 20px;
    border-top: 1px solid black;
}

.btn_red_outline{
    font-size: 20px;
    line-height: 20px;
    display: block;
    margin: 10px;
    color: orange;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid orange;
    text-align: center;
    text-decoration:none;
}



/* Tablet */
@media only screen and (max-width: 1000px) {
    .inv_record{
        display:block;
        text-align:center;
        width:90%;
        padding:2%;
        margin:20px auto;
    }
    .inv_name{
        font-size:30px;
        width:90%;
        margin-bottom:20px;
    }
    .inv_image{
        height: 300px;
        width: auto;
        margin:10px auto;
        display:block;
        max-width:100%;
    }
    .inv_image_container{
        width:100%;
    }
    .inv_quantity, .lbl_consumeJob{
        font-size:30px;
    }
    .openDrawerBtns{
        text-align:right;

    }
    .btnOpenDrawer{
        font-size: 40px;
        line-height: 40px;
        display: inline-block;
        margin-right: 10px;
        color: white;
        background-color: #009edb;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid #009edb;
        width: 40px;
        height: 40px;
        text-align: center;
        text-decoration:none;
    }
    .frmReplacePicture{
        display:block;
        width:200px;
        margin:20px auto;
        border: 1px solid black; 
        padding: 20px; 

    }
    .lbl_replacePicture{
        font-size:20px; 
        display: inline-block; 
    }
    .blue_button, .btn_changeQuant, .btn_OpenSFApp, .btn_AssignToLocation, .btn_changeDescription{
        font-size: 30px;
        line-height: 30px;
        display: block;
        margin: 20px auto;
        color: white;
        background-color: #009edb;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid #009edb;
        text-align: center;
        text-decoration:none;
    }
    .table_quants{
        border-collapse: collapse;
        width:400px;
        margin:0 auto;
    }
    .table_quants td{
        text-align:left;
        padding-right:20px;
        padding-left:10px;
    }
}
/* Phone */
@media only screen and (max-width: 600px) {
    .inv_image{
        height: auto;
        width: 90%;
        margin:10px auto;
        display:block;
        max-width:100%;
    }
    .inv_quantity, .lbl_consumeJob{
        font-size:20px;
    }
    .consumeQuant, .consumeJob, .changeQuant, .changeDescription, .moveItemLocation, .input_select, .input_text{
        width:200px;
        box-sizing:border-box;
        -moz-box-sizing: border-box;
    }
    .btnOpenDrawer{
        font-size:20px;
        line-height:20px;
        width: 20px;
        height: 20px;
    }
    .frmReplacePicture{
        width:200px;
    }
    .blue_button, .btn_changeQuant, .btn_OpenSFApp, .btn_AssignToLocation, .btn_changeDescription{
        font-size: 20px;
        line-height: 20px;
    }
    .table_quants{
        width:250px;
    }
    .table_quants td{
        text-align:left;
        padding-right:20px;
        padding-left:10px;
    }
}